<div class="row">
  <div class="<%= css_columns(12) %>">
    <div class="ui segment">
      <div class="ui left rail" style="width: 160px;">
        <div class="ui segment">
          <%= mountable_fragments :site_160x600_left_rail_banner %>
        </div>
      </div>
      <div class="ui right rail" style="width: 160px;">
        <div class="ui segment">
          <%= mountable_fragments :site_160x600_right_rail_banner %>
        </div>
      </div>
    </div>
  </div>
</div>
