<%= markdown(q.question) %>

<div class="ui input">  
  <% q.options.each do |o| %>
    <%= text_field_tag "attempt[#{q.id}][#{o.id}]", '',
          :value => (a ? a[o.id] : nil),
          :readonly => read_only %>
    <div id="<%= "answer_#{q.id}_#{o.id}"%>" class="question-answer"></div>
  <% end %>
</div>

<%= render 'teach/questions/hint_and_explanation', q: q %>