<div class="ui input">
  <%
  html = markdown(q.question)
  q.options.each do |o|
    html.sub!('...', text_field_tag("attempt[#{q.id}][#{o.id}]", '', :size => [(q.answer[o.id].length + 3), 60].min,
      :value => (a ? a[o.id] : nil),
      :readonly => read_only))
  end
  %>

  <%= html.html_safe %>
  <div id="<%= "answer_#{q.id}"%>" class="question-answer"></div>
</div>

<%= render 'teach/questions/hint_and_explanation', q: q %>

