<%= form_for [:teach, question.course, question.unit, question.lecture, question],  
      url: include_in_lecture_teach_course_unit_lecture_question_path(question.course, question.unit, question.lecture, question),
      method: :post, remote: true do |f| %>
  <div class="field">
    <div class="ui checkbox">
      <%= check_box_tag "include_#{question.id}_in_lecture", '1', question.include_in_lecture,
            :class => "include-in-lecture",
            :name => "question[include_in_lecture]" %>
      
      <%= label_tag "include_#{question.id}_in_lecture", Question.human_attribute_name(:include_in_lecture) %>
    </div>
  </div>
<% end %>