<div class="field">
  <%
  html = markdown(q.question)
  q.options.each do |o|
    items = o.option_items

    html.sub!('...', select_tag("attempt[#{q.id}][#{o.id}]", options_for_select(items.sample(items.count).map {|i| [i, i]}, a ? a[o.id] : nil),
      :disabled => read_only,
      :include_blank => true, :class => 'ui dropdown'))
  end
  %>

  <%= html.html_safe %>
  <div id="<%= "answer_#{q.id}"%>" class="question-answer"></div>
</div>

<%= render 'teach/questions/hint_and_explanation', q: q %>