<div class="panel-body">
  <%= render 'teach/questions/preamble', :q => q, :show_answer => show_answer %>
  
  <% q.options.each do |o| %>
    <%= text_field_tag "attempt[#{q.id}][#{o.id}]", '', 
          :class => 'span6',
          :value => (a ? a[o.id] : nil),
          :readonly => read_only, :class => css_form_control %>
    <div id="<%= "answer_#{q.id}_#{o.id}"%>" class="question-answer"></div>
  <% end %>
</div>