<% 
	html = render(partial: "teach/questions/question", collection: [@question], locals: { show_answer: false, no_options: true }) ;
%>

<% if html %>
  $('<div class="ui small modal">' + 
    '  <div class="content"><%= j html %></div>' +
    '    <div class="actions"><div class="ui cancel button">Close</div></div>' +
    '</div>').modal('show');
<% end %>

ui_rebind_application_events(jQuery);