<% course_menu %>
<div class="ui secondary menu">
  <% app_menus(:course).each do |section, menu| %>
    <% menu.each do |item| %>
      <%= link_to item[:link], item[:to], class: item[:active] ? 'item active' : 'item' %>
    <% end %>
  <% end %>
  <div class="right item">
    <%= 
    actions = []
    actions << staff_or_student_view unless @klass
    unless controller_name == 'courses' && action_name.in?(['edit', 'update'])
      actions << link(:course, :edit, edit_teach_course_path(@course), remote: true, class: "ui positive button")
    end
    actions << link(:course, :destroy, teach_course_path(@course), :method => :delete, :confirm => true, class: 'ui negative button') 
    
    ui_buttons(actions) %>
  </div>
</div>