<div class="ui top fixed borderless menu">
  <div class="item">
    <div class="ui tiny promo image">
      <%= image_tag(@course.poster&.at_url(:md) || '/images/holder-md.png') %>
    </div>
  </div>
  <div class="header item">
    <div class="ui second header">
      <%= @course.name %>
      <div class="sub header"><%= @course.by_instructors %></div>
    </div>  
  </div>
  <div class="right menu">
    <div class="item">
      <%= link_to t('helpers.submit.leave_course'), main_app.home_path, class: "ui secondary button" %>
    </div>
  </div>
</div>
