<h2>من نحن؟</h2>
<p>
  منصة عربية تعليمية مفتوحة تسعى من خلال فصولها الدراسية المفتوحة ذات الجودة العلمية العالية إلى إتاحة فرص التعليم الجيد لأكبر عدد ممكن من الطلاب.
</p>
<p>
  تقدم فصولا دراسية افتراضية يمكن الوصول إليها عبر الانترنت عن طريق الكمبيوترات الشخصية 
  أو اللوحية أو الهواتف الذكية في أي وقت و من أي مكان، 
  و ذلك لإتاحة فرص التعليم عالي الجودة لأكبر عدد ممكن من الطلاب. 
  هذه الفصول تقدم تحت إشراف نخبة من أفضل الأكاميميين أو المدرسين المختصين 
  و تتيح للطلاب إمكانية التفاعل مع الطلاب الآخرين أو المدرسين القائمين على هذه الفصول. 
  كل هذه الخدمات التعليمية تقدم للطلاب إما مجانا أو بأسعار رمزية 
  تجعلها في متناول جميع الطلاب لا سيما طلاب فئات المجتمع الأكثر تهميشا و تضررا 
  من الأزمات الاقتصادية. 
</p>

<h3>عناوين هامة</h3>
<ul>
  <li>تعليم عالي الجودة من مدرسين متخصصين و أكفاء.</li>
  <li>تعليم تفاعلي سواء بين الطلاب بعضهم البعض أو بينهم و بين مدرسيهم.</li>
  <li>تعليم ممتع و ذو علاقة بالواقع من حولنا.</li>
  <li>تعليم مرن من خلال فصول دراسية تؤخذ في أي وقت و من أي مكان.</li>
  <li>تعليم يشرك الأباء و أولياء الأمور في متابعة أداء طلابهم من خلال الرسائل الدورية و تقارير الأداء الدراسي.</li>
  <li>تعليم يبدأ بالكتاب المدرسي لكنه لا يقتصر عليه.</li>
</ul>

<h3>خدماتنا</h3>
<ul>
  <li>تعليم تفاعلي مفتوح</li>
  <li>فصول دراسية في متناول الجميع</li>
  <li>منح دراسية</li>
  <li>إشراك الأباء في الاشراف و المتابعة</li>
  <li>خدمات إضافية</li>
</ul>