<div class="sixteen wide column">
  <p class="lead">
    في العالم العربي تعاني قطاعات التعليم و التدريب و التأهيل من الكثير من المعوقات السياسية والاجتماعية و الثقافية و الاقتصادية و حتى الجغرافية التي تحول بين الجهود المبذولة في هذه القطاعات و بين تلبية الاحتياجات الأساسية و التطلعات المشروعة للطلاب و المتدربين، مما يعني حرمانهم من اكتساب المعارف و المهارات و الفرص التي تحسن من فرصهم في النجاح. تطوع منصة دروسي التعليمية أحدث ما توصلت إليه التكنولوجيا لخلق فرصة فريدة لهذه القطاعات لانشاء فصول دراسية و تدريبية و توعوية مفتوحة ذات جودة عالية تتجاوز الكثير من معوقات التعليم في هذه المجتمعات و تكون متاحة لأكبر عدد من الجمهور المستهدف في أي وقت و من أي مكان.
  </p>
  <h2>كطالب أو متدرب أو مهتم ماذا أتوقع في هذه الفصول؟</h2>
  <div class="ui horizontal segments">
    <div class="ui segment">
      <h2 class="ui icon header">
        <i class="circular list icon"></i>
        <div class="content">
          <div class="sub header">
            خطة دراسية واضحة لكل فصل بأهداف تعليمية محددة.
          </div>
        </div>
      </h2>
    </div>
    <div class="ui segment">
      <h2 class="ui icon header">
        <i class="circular video icon"></i>
        <div class="content">
          <div class="sub header">
            فيديوهات محاضرات تغطي موضوعات الفصل منظمة إلى وحدات و أسابيع.
          </div>
        </div>
      </h2>
    </div>
    <div class="ui segment">
      <h2 class="ui icon header">
        <i class="circular comments icon"></i>
        <div class="content">
          <div class="sub header">
            منتديات لكل فصل تتيح للطلاب المسجلين النقاش و التواصل مع مدرسيهم و زملائهم.
          </div>
        </div>
      </h2>
    </div>
    <div class="ui segment">
      <h2 class="ui icon header">
        <i class="circular flask icon"></i>
        <div class="content">
          <div class="sub header">
             اختبارات تفاعلية أثناء المحاضرات أو مزمنة على مستوي الفصل لتقييم الأداء.
          </div>
        </div>
      </h2>
    </div>
  </div>

  <% klasses = @klasses.featured.limit(5).to_a %>

  <% if klasses.present? %>
    <h2>أحدث الفصول الدراسية</h2>

    <div class="ui segment">
      <div class="ui divided items">
        <%= render :partial => 'learn/klasses/klass_item', :collection => klasses[0..2], as: :klass %>
      </div>
    </div>
    
    <div class="ui right aligned header">
      <%= klasses.count > 3 ? link_to(t('page.title.more_info_html'), main_app.learn_klasses_path, class: "ui button") : nil %>
    </div>
  <% end %>
</div>

<h2>للمدرسين الراغبين في تقديم فصولهم عبر منصة دروسي</h2>
<div class="ui segment">
  <p class="lead">
    تتيح هذه المنصة للمدرسين و المدربين الراغبين في تقديم فصولهم الدراسية أو التدريبية أو التوعوية 
    عبرها كل ما يحتاجونه لإنشاء هذه الفصول و تنظيمها و ترتيب موادها العلمية و تزمين مواعيدها. و 
    سواء كانت المادة العلمية أو المحتوى التعليمي جاهزا و لا يحتاج  سوى إلى تنظيم و ربط بوحدات و 
    محاضرات هذه الفصول، أو أنها (أي المادة العلمية) سيجري إنشاؤها بالتزامن مع توقيت إنطلاق الوحدات 
    و المحاضرات، فإن منصة دروسي تدعم ذلك و أكثر. إضافة إلى ذلك تسمح منصة دروسي بانشاء 
    الفحوصات و الاختبارات وفقا لما يراه المدرسون و المشرفون على هذه الفصول مناسبا لتقييم أداء الطلاب 
    المسجلين في هذه الفصول، مع إمكانية ضبط هذه الفحوصات و الاختبارات و تزمينها سواء على مستوى 
    المحاضرات أو أثناءها أو على مستوى الوحدات أو على مستوى الفصل. و من خلال دروسي سيكون 
    بمقدورهم الإشراف على سير الفصل و على نقاشات منتدياته و سيكون بإمكانهم إخطار الطلاب المسجلين 
    بأحدث أخباره و تحديثاته. هذه الفصول يمكن أن تكون عامة أو خاصة؛ مجانية أو لقاء رسوم دراسية 
    معينة.
  </p>
  <%= link_to 'قدم طلبا للتدريس', main_app.contactus_to_teach_path, remote: true, class: 'ui large primary button' %>
</div>
<br><br>
