<br>
<div class="row">
  <div class="text-center">
    <h2>منصة تعليمية عربية مفتوحة</h2>
    <p class="lead">
      في العالم العربي تعاني قطاعات التعليم و التدريب و التأهيل من الكثير من
      المعوقات السياسية والاجتماعية
       و الثقافية و الاقتصادية و حتى الجغرافية التي تحول بين الجهود المبذولة في
       هذه القطاعات و بين تلبية الاحتياجات الأساسية و التطلعات المشروعة للطلاب 
       و المتدربين، مما يعني حرمانهم من اكتساب المعارف
       و المهارات و الفرص التي تحسن من فرصهم في النجاح. تطوع منصة دروسي التعليمية أحدث ما
       توصلت إليه التكنولوجيا لخلق فرصة فريدة لهذه القطاعات لانشاء فصول دراسية و تدريبية و توعوية مفتوحة
       ذات جودة عالية تتجاوز الكثير من معوقات التعليم في هذه المجتمعات و تكون متاحة لأكبر عدد من
       الجمهور المستهدف في أي وقت و من أي مكان.
    </p>
  </div>
  <div class="text-center eight wide column">
    <h1>
      <i class="fa fa-mobile"></i>
      <i class="fa fa-tablet"></i>
      <i class="fa fa-laptop"></i>
      <i class="fa fa-desktop"></i>
    </h1>
    <p class="lead">
    فصول دراسية و تدريبية و توعوية تؤخذ عبر الحواسب المكتبية أو اللوحية أو الهواتف الذكية
    في أي وقت و من أي مكان.
    </p>
  </div>
  <div class="text-center eight wide column">
    <h1><i class="fa fa-users"></i></h1>
    <p class="lead">
      تعليم تفاعلي سواء بين الطلاب و المتدربين من جهة و بين المدرسين و المشرفين من جهة اخرى
      أو بيما بين الطلاب و المتدربين أنفسهم.
    </p>
  </div>
  <div class="text-center eight wide column">
    <h1>ع</h1>
    <p class="lead">
    فصول عالية الجودة تستهدف القطاعات المختلفة للجمهور العربي. فصول مصممة من أجل هذا الجمهور 
    و معبرة بلغته عن احتياجاته.
    </p>
  </div>
</div>
<hr />
<% klasses = @klasses.featured.limit(5).to_a %>
<% if klasses.present? %>

    <div id='featured-klass-list' class="klass-list">
      <% more = (klasses.count > 3 ? link_to(t('page.title.more_info_html'), main_app.learn_klasses_path, class: "ui button") : nil) %>

      <%= ui_header(t('page.title.feactured_klasses'), action: more) %>
      <div class="ui items">
        <%= render :partial => 'learn/klasses/klass_item', :collection => klasses[0..2], as: :klass %>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="text-center">
    <h2>كطالب أو متدرب أو مهتم ماذا أتوقع في هذه الفصول؟</h2><br />
  </div>
  <div class="text-center four wide column">
    <i class="fa fa-list-ol fa-3x"></i>
    <p class="lead">
    خطة دراسية واضحة لكل فصل بأهداف تعليمية محددة تغطي موضوعا معينا.
    </p>
  </div>
  <div class="text-center four wide column">
    <i class="fa fa-film fa-3x"></i>
    <p class="lead">
    فيديوهات محاضرات تغطي موضوعات الفصل منظمة إلى وحدات أو أسابيع.
    </p>
  </div>
  <div class="text-center four wide column">
    <i class="fa fa-comments-o fa-3x"></i>
    <p class="lead">
    منتديات لكل فصل تتيح للطلاب المسجلين النقاش و التواصل مع زملائهم.
    </p>
  </div>
  <div class="text-center four wide column">
    <i class="fa fa-flask fa-3x"></i>
    <p class="lead">
    اختبارات تفاعلية اثناء المحاضرة أو مزمنة على مستوى الفصل لتقييم الأداء.
    </p>
  </div>
</div>
<br />
<p class="text-center lead">
هذه الفصول قد تكون عامة و متاحة لجميع الراغبين أو خاصة و متوافرة فقط عبر دعوات خاصة 
يرسلها المدرسون لعدد محدد من الطلاب.
</p>
<hr />
<div class="row">
  <div class="">
    <h2>للمدرسين الراغبين في تقديم فصولهم عبر منصة دروسي</h2>
    <p class="lead">
تتيح منصة دروسي للمدرسين و المدربين الراغبين في تقديم فصولهم الدراسية أو التدريبية أو التوعوية 
عبرها كل ما يحتاجونه لإنشاء هذه الفصول و تنظيمها و ترتيب موادها العلمية و تزمين مواعيدها. و 
سواء كانت المادة العلمية أو المحتوى التعليمي جاهزا و لا يحتاج  سوى إلى تنظيم و ربط بوحدات و 
محاضرات هذه الفصول، أو أنها (أي المادة العلمية) سيجري إنشاؤها بالتزامن مع توقيت إنطلاق الوحدات 
و المحاضرات، فإن منصة دروسي تدعم ذلك و أكثر. إضافة إلى ذلك تسمح منصة دروسي بانشاء 
الفحوصات و الاختبارات وفقا لما يراه المدرسون و المشرفون على هذه الفصول مناسبا لتقييم أداء الطلاب 
المسجلين في هذه الفصول، مع إمكانية ضبط هذه الفحوصات و الاختبارات و تزمينها سواء على مستوى 
المحاضرات أو أثناءها أو على مستوى الوحدات أو على مستوى الفصل. و من خلال دروسي سيكون 
بمقدورهم الإشراف على سير الفصل و على نقاشات منتدياته و سيكون بإمكانهم إخطار الطلاب المسجلين 
بأحدث أخباره و تحديثاته. هذه الفصول يمكن أن تكون عامة أو خاصة؛ مجانية أو لقاء رسوم دراسية 
معينة.
    </p>
    <a href="/users/signin" class="btn btn-lg btn-primary">
      انظم إلى هيئة التدريس من هنا
    </a>
  </div>
</div>


<div class="container">
  <p class="lead">
    Currently, the educational systems in many of the Arab countries are failing to 
    meet the basic needs and aspirations of their constituent students, leaving 
    them on their own when it comes to acquiring the basic knowledge and skills 
    that can make a difference in their lives. At Duroosi School we are working 
    hard to change that. Taking into account the economic, cultural and 
    geographical barriers to education, we set out to make high-quality 
    education more affordable and accessible to our students. 
  </p>
  <div class="row">
    <div class="col-md-3">
      <h3>What</h3>
      <p>Duroosi School is a virtual Arabic school offering a variety of classes that students can enroll in.</p>
    </div>
    <div class="col-md-3">
      <h3>Why</h3>
      <p>To make high quality education affordable and accessible to students at anytime and from anywhere.</p>
    </div>
    <div class="col-md-3">
      <h3>How</h3>
      <p>By means of open classes that are accessible via desktops, laptops, tablets, and smart phones.</p>
    </div>
    <div class="col-md-3">
      <h3>Who</h3>
      <p>All classes are moderated and supervised by dedicated and highly qualified instructors.</p>
    </div>
  </div>
</div>
