<div class="ui grid container">
  <div class="ten wide column">
    <div class="ui huge inverted header">
      <br>
      منصة مفتوحة للتعليم التفاعلي عن بعد
      <div class="ui large sub header">
        فصول دراسية مفتوحة
        &nbsp;&nbsp;|&nbsp;&nbsp;
        خاصة أو عامة
        &nbsp;&nbsp;|&nbsp;&nbsp;
        للتدريس أو التأهيل أو التوعية
        &nbsp;&nbsp;|&nbsp;&nbsp;
                ذات جودة عالية 
      </div>
    </div>
    <div class="ui medium header">
      <a href="/learn/klasses" class="ui huge primary button">البداية من هنا</a>
    </div>
  </div>
  <div class="six wide column">
    <%= image_tag "jumbotron-bg.png", class: "ui image"%>
  </div>
</div>
