<h2>للراغبين في التدريس</h2>
  <p>
    تتيح هذه المنصة للمدرسين و المدربين الراغبين في تقديم فصولهم الدراسية أو التدريبية أو التوعوية 
    عبرها كل ما يحتاجونه لإنشاء هذه الفصول و تنظيمها و ترتيب موادها العلمية و تزمين مواعيدها. و 
    سواء كانت المادة العلمية أو المحتوى التعليمي جاهزا و لا يحتاج  سوى إلى تنظيم و ربط بوحدات و 
    محاضرات هذه الفصول، أو أنها (أي المادة العلمية) سيجري إنشاؤها بالتزامن مع توقيت إنطلاق الوحدات 
    و المحاضرات، فإن منصة دروسي تدعم ذلك و أكثر. إضافة إلى ذلك تسمح منصة دروسي بانشاء 
    الفحوصات و الاختبارات وفقا لما يراه المدرسون و المشرفون على هذه الفصول مناسبا لتقييم أداء الطلاب 
    المسجلين في هذه الفصول، مع إمكانية ضبط هذه الفحوصات و الاختبارات و تزمينها سواء على مستوى 
    المحاضرات أو أثناءها أو على مستوى الوحدات أو على مستوى الفصل. و من خلال دروسي سيكون 
    بمقدورهم الإشراف على سير الفصل و على نقاشات منتدياته و سيكون بإمكانهم إخطار الطلاب المسجلين 
    بأحدث أخباره و تحديثاته. هذه الفصول يمكن أن تكون عامة أو خاصة؛ مجانية أو لقاء رسوم دراسية 
    معينة.
  </p>

<%= link_to 'قدم طلب تدريس', main_app.contactus_to_teach_path, remote: true, class: 'ui primary button' %>