<% klasses = @klasses.featured.limit(5).to_a %>
<% if klasses.present? %>
  <div class="row">
    <div id='featured-klass-list' class="klass-list <%= css_columns(18, 2) %> ">
      <% more = (klasses.count > 3 ? link_to(t('page.title.more_info_html'), main_app.learn_klasses_path, class: "ui button")) : nil) %>

      <%= ui_header(t('page.title.feactured_klasses'), action: more) %>
      <div class="ui three column stackable stretched grid">
        <%= render :partial => 'learn/klasses/klass', :collection => klasses[0..2], :locals => {view: :card} %>
      </div>
    </div>
  </div>
  <hr />
<% end %>
