<% if @page.owner && @page.owner.kind_of?(Unit) %>
  <ul class="breadcrumb">
    <li><%= link(:lecture, :index, learn_klass_lectures_path(@klass)) %></li>
    <li><%= link_to @page.owner.name, learn_klass_lectures_path(@klass) %></li>
  </ul>
<% end %>

<h2><%= @page.name %></h2>

<%= markdown(@page.about, :html => @page.html) %>

