<h2>About Us </h2>
<p>Taking into account the economic, cultural and geographical barriers to education, this site set out to make high-quality education more affordable and accessible to our students.</p>

<p>Using state of the art technology, we offer interactive classes where students not only learn and acquire knowledge and skills but also have fun and make friends. These classes are on the go and can be accessed anytime anywhere from their personal desktops/laptops, tablets, and/or smart phones with access to the internet.</p>

<p>Our classes are made of pre-recorded lectures (videos and audios), slides, notes, activities, problems, and pre-scheduled quizzes and exams. They also have discussion forums that allow for student-to-student and student-to-instructor interactions. All of this happens within a safe and secure online environment.</p>

<p>All classes are moderated and supervised by dedicated and highly qualified instructors, and tools are made available to both students and parents to monitor progress and assess learning. Our ultimate mission is to give our students the opportunity they need to succeed and achieve their own goals.</p>

<h3>Highlights</h3>
<ul>
  <li>High quality instruction by dedicated and highly skilled instructors.</li>
  <li>Interactive learning both among students and between them and instructors.</li>
  <li>Education that is relevant and fun.</li>
  <li>Classes that can be taken any time anywhere.</li>
  <li>Parents' involvement through periodic notifications and progress reports.</li>
  <li>Education that starts from the book but then goes far beyond.</li>
</ul>

<h3>Services</h3>
<ul>
  <li>Open/Interactive education on the go</li>
  <li>Affordable and easily accessible classes</li>
  <li>Scholarships</li>
  <li>Parent involvement</li>
  <li>Added services</li>
</ul>