<div class="sixteen wide column">
  <p class="lead">
    Taking into account the economic, cultural and 
    geographical barriers to education, this site sets out to make high-quality 
    education more affordable and accessible to students. 
  </p>
  <h2>Students should expects</h2>
  <div class="ui horizontal segments">
    <div class="ui segment">
      <h2 class="ui icon header">
        <i class="circular list icon"></i>
        <div class="content">
          <div class="sub header">
            A carefully planned classes with specific and achievable education goals.
          </div>
        </div>
      </h2>
    </div>
    <div class="ui segment">
      <h2 class="ui icon header">
        <i class="circular video icon"></i>
        <div class="content">
          <div class="sub header">
            Lectures in multiple forms (videos, audios, reating, ...) organized into units or weeks.
          </div>
        </div>
      </h2>
    </div>
    <div class="ui segment">
      <h2 class="ui icon header">
        <i class="circular comments icon"></i>
        <div class="content">
          <div class="sub header">
            Discussion forums for each class allowing students communicate with one another or with their instructors.
          </div>
        </div>
      </h2>
    </div>
    <div class="ui segment">
      <h2 class="ui icon header">
        <i class="circular flask icon"></i>
        <div class="content">
          <div class="sub header">
            Assessment tools (quizes, exams, surveys, ...) to measure progress and topic understanding.
          </div>
        </div>
      </h2>
    </div>
  </div>

  <% klasses = @klasses.featured.limit(5).to_a %>

  <% if klasses.present? %>
    <h2><%= t('page.title.feactured_klasses') %></h2>

    <div class="ui segment">
      <div class="ui divided items">
        <%= render :partial => 'learn/klasses/klass_item', :collection => klasses[0..2], as: :klass %>
      </div>
    </div>
    
    <div class="ui right aligned header">
      <%= klasses.count > 3 ? link_to(t('page.title.more_info_html'), main_app.learn_klasses_path, class: "ui button") : nil %>
    </div>
  <% end %>
</div>

<h2>Willing to teach?</h2>
<div class="ui segment">
  <p class="lead">
    If you have have a class that you want to teach on this platform, please click the button 
    below to apply. We only ask that you provide basic information about yourself, your interests,
    the class or classes you are planning to teach, and your target audience.
  </p>
  <%= link_to 'Apply to teach', main_app.contactus_to_teach_path, remote: true, class: 'ui large primary button' %>
</div>
<br><br>