<%= ui_header 'Becoming a teacher' %>

<p>
  If you have have a class that you want to teach on this platform, please click the button 
  below to apply. We only ask that you provide basic information about yourself, your interests,
  the class or classes you are planning to teach, and your target audience.
</p>

<%= link_to 'Request to become a teacher', main_app.contactus_to_teach_path, remote: true, class: 'ui primary button' %>