<div class="ui top fixed borderless menu">
  <div class="item">
    <div class="ui tiny promo image">
      <%= image_tag(@klass.course.poster&.at_url(:md) || '/images/holder-md.png') %>
    </div>
  </div>
  <div class="header item">
    <div class="ui second header">
      <%= @klass.course.name %>
      <div class="sub header">
        <% labels = [ @klass.course.by_instructors, klass_from_and_to_dates(@klass)] %>
        <% labels << Klass.human_attribute_name(:private) if @klass.private %>
        <% labels << Klass.human_attribute_name(:closed) if @klass.past? %>
        <%= raw labels.join('&nbsp;&nbsp;&nbsp;' + ui_icon('tiny circle')) %>
      </div>
    </div>  
  </div>
  <div class="right menu">
    <div class="item">
      <%= link_to t('helpers.submit.leave_klass'), main_app.home_path, class: "ui secondary button" %>
    </div>
  </div>
</div>
