<%= tag :hr unless update_counter == 0 %>
<h3><%= update.subject %></h3>
<h3><small><%= timeago_tag update.updated_at, :nojs => true, :limit => 10.days.ago %></small></h3>
<%= markdown(update.body) %>
