<div class="item">
  <div class="content">
    <div class="header"><%= update.subject %></div>
    <div class="meta">
      <span><%= timeago_tag update.updated_at, :nojs => true, :limit => 10.days.ago %></span>
    </div>
    <div class="description">
      <%= markdown(update.body) %>
    </div>
  </div>
</div>
