<% cache do %>
  <div class="row">
    <div class="<%= css_columns(24) %>">
      <% about = Page.localized(:about) %>

      <%= ui_header about.name, :style => :h2 %>
      <%= markdown(about.about) %>
    </div>
  </div>
<% end %>
