<%= render 'admin/dashboard/show' %>

<% klasses = Klass.ready_to_approve.distinct.to_a %>
<% if klasses.present? %>
  <%= ui_header t('page.titles.ready_to_approve') %>
  <div class="ui three column stackable stretched grid">
    <%= render :partial => 'learn/klasses/klass', :collection => klasses %>
  </div>
<% end %>
