<%= render 'admin/dashboard/show' %>

<% klasses = Klass.ready_to_approve.distinct.to_a %>
<% if klasses.present? %>
  <%= ui_header t('page.titles.ready_to_approve') %>
  <div class="ui divided items">
    <%= render :partial => 'learn/klasses/klass', :collection => klasses, :locals => {allow_actions: true, view: :item} %>
  </div>
<% end %>

<% if current_account.config['allow_faculty_applications'] %>
  <%= render :partial => 'faculty_applications/index' %>
<% end %>
