<div class="row">
  <div id='featured-klass-list' class="klass-list <%= css_columns(12) %>">
    <% klasses = @klasses.limit(10) %>
    
    <% if klasses.present? %>  
      <%= ui_header(t('activerecord.actions.recent_klasses')) %>
      <%= render :partial => 'learn/klasses/klass', :collection => klasses %>
    <% end %>
  </div>
</div>ssss kkk