<div class="container">
 <div class="row text-center">
   <span style="font-size: 200px;">500</span>
   <h2>OOPS! SORRY WE CANNOT DISPLAY THAT PAGE!</h2>
   <h4>Either you are not authorized to see it, or it doesn't exist.</h4>
 </div>
</div>
