<h1 class="ui center aligned red icon header">
  <i class="warning sign icon"></i>
  401
  <div class="content">
    <div class="sub header">
      <strong>SORRY WE CANNOT DISPLAY THAT PAGE!</strong><br>
      Either you are not authorized to see it, or it doesn't exist.
    </div>
  </div>
</h1>