<%= @body.html_safe %>

<% if @klasses.present? %>
  <ul>
    <% @klasses .each do |klass| %>
      <li>
        <strong style="font-family: Arial; font-size: 14px; color: #333333;line-height: 24px;" st-title="rightimage-title">
          <%= klass.course.name %>
        </strong>
        <span style="font-family: Arial; font-size: 14px; color: #444;line-height: 24px;" st-content="rightimage-paragraph">
          <%= excerpt(klass.course.about, klass.course.about[1..50],  radius: 160) %>
        </span>
      </li>
    <% end %>
  </ul>
<% end %>
