<h3><%= t('page.titles.klass_statistics') %></h3>

<%= ui_chart 'klass_activities', 
             'ColumnChart', 
             stats_klass_activities(@klass),
             {title: :class_activities } %>
