<div class="item">
  <div class="content">
    <div class="header"><%= blog.name %></div>
    <div class="meta">
      <span><%= blog.by_author %></span>
    </div>
    <div class="description">
      <%= markdown(blog.about, :html => blog.html) %>
    </div>
  </div>
</div>