<% if @blogs.present? %>
  <div class="ui divided items">
    <%= render :partial => 'application/pages/blog', :collection => @blogs %>
  </div>
<% end %>

<div id="paginator" class="text-center"><%= paginate @blogs %></div>
