<% @answer.each do |id, a| %>
  <%
  html = ''
  if  %w(pick_one pick_many).include?(@question.kind)
    html = %(
      <i class="fa fa-check"></i>
    ) if a == '1'
  elsif %w(fill_many pick_2_fill).include?(@question.kind)
    html = %(
      <strong>#{Question.human_attribute_name(:answer)}</strong>: 
      <ul>#{a.map{|i| content_tag(:li, i)}.join("\n")}</ul>
    )
  else
    html = %(
      <strong>#{Question.human_attribute_name(:answer)}</strong>: <span>#{a}</span>
    )
  end
  %>
  $('#<%= id %>').html('<%= j html.html_safe %>');
<% end %>
$('#show_answer_link_<%= @question.id %>').addClass('disabled');

ui_rebind_application_events(jQuery);