/*
 *= require pagedown
 *= require jquery.timepicker.css
 *= require mediaelement_rails
 *= require jquery-ui/datepicker
 *= require jquery-ui/slider
 * require chosen
 *= require jquery-ui-timepicker-addon.min
 *= require jquery.countdown
 *= require pnotify
 *
 *= require semantic_ui/semantic_ui
 *
 *= require app-text
*/

body {
  background: #f8f8f8;
}
nav {
  //padding: 0.5em 0.75em 0.25em 0.75em;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  background: rgba(0, 0, 0, 0.05);
}

.ui.grid.container + main {
  margin-top: -2rem;
}
.ui.huge.main.nav.list > .item {
  padding-bottom: 0.25em;
  & > a {
    text-decoration: none;
  }
  & > a.ui.image, & > .content {
    padding: 0.5em 0.25em 0em 0.75em;
  }
  & > .ui.promo.image {
    padding: 1em 0em 0em 0.75em;
  }
  & > .right.floated.content > .ui.list {
    padding: 0em 0.75em 0em 0.5em;
  }
}

.ui.comments {
  max-width: initial;
}
.page.clearing.header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body > nav > .ui.menu > .right.item{
  padding-bottom: 0px;
}

.mejs-overlay-play{
  display: none;
}