<%= ui_header(t('page.title.translations'), action: capture do %>
  <div class="ui mini menu">
    <% $site['supported_locales'].each do |locale, name| %>
      <%= link_to(name, edit_admin_translation_path(locale), :class => "#{'active ' if @locale == locale}item") %>
    <% end %>
    <%= link(:transation, :close, home_path, class: "item") %>
  </div>
<% end ) %>

<% 
  html = ''
  json_settings_tree(admin_translation_path(@locale, setting: '_key_'), nil, @translations, html, [], 1, [1,2,3,4,5,6,7])
%>

<%= html.html_safe %>
