<% 
  html = ''
  pane = 'media-pane'
  if @material.present?
    case @material.medium.kind.to_sym
    when :video
      html << ui_video(@material)
    when :audio
      html << ui_audio(@material)
    else
      html << ui_document_viewer(@material.at_url)
    end 
  else
    subhtml = ''
    if @page
      subhtml << ui_header(@page.name, style: :h4)
      subhtml << markdown(@page.about, :html => @page.html)
    elsif @question && @question.lecture
        subhtml << render(partial: "teach/questions/question", locals: { question: @question, show_answer: false })
    elsif @assessment && @assessment.lecture
      subhtml << render(partial: "learn/assessments/assessment", locals: { assessment: @assessment })
    end

    html << %(
      <div class="row">
        <div class="#{css_columns(12)}">
          #{subhtml}
        </div>
      </div>) if subhtml.present?
  end
%>

$("#<%= pane %>").html('<%= j html.html_safe %>');

$("#<%= pane %> audio.mediaelementjs").mediaelementplayer();

// $("#<%= pane %> video.sublime").each(function(){
//   sublime.prepare($(this).attr('id'), function(player) {
//   // player is now ready.
//   });
// });

ui_rebind_application_events(jQuery);