<%#
section = :social
current_account.config['social_pages'].each do |page, at|
  if at && at.strip.present?
    link = (link_to at, :class => "btn btn-#{page}" do
      css_icon([page, :lg])
    end)
    add_to_app_menu :site_bottom, link, section
  end
end
%>

<% footer_menu %>

<footer>
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="<%= css_columns(15) %>">
          <ul class="list-inline">
            <% app_menu(:bottom).each do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>
        </div>
        <div class="<%= css_columns(9) %>">
          <div class="row text-right">
            <% if current_account.config['title'] !~ /Curriculr/i %>
              <%= t('page.text.powered_by_html', logo: link_to(
                    image_tag("/images/curriculr-white.png"), 'http://www.curriculr.org', target: '_new'
                  )) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</footer>
