<%#
section = :social
current_account.config['social_pages'].each do |page, at|
  if at && at.strip.present?
    link = (link_to at, :class => "btn btn-#{page}" do
      css_icon([page, :lg])
    end)
    add_to_app_menu :site_bottom, link, section
  end
end
%>

<% footer_menu %>

<footer>
  <div class="ui bottom <%= 'inverted' if action_name != 'front' %> menu">
    <% app_menu(:bottom).each_with_index do |item, i| %>
      <% if i == 0 %>
        <div class="heasder item"><%= item %></div>
      <% else %>
        <%= link_to item[:link], item[:to], class: 'item' %>
      <% end %>
    <% end %>

    <% if true || current_account.config['title'] !~ /Curriculr/i %>
      <div class="right item">
        <%= t('page.text.powered_by_html', logo: link_to(
              image_tag("/images/curriculr#{'-inverted' if action_name != 'front'}.png"), 'http://www.curriculr.org', target: '_new'
            )) %>
      </div>
    <% end %>
  </div>
</footer>
