<% main_menu %>

<ul class="nav navbar-nav">
  <% app_menu(:top).each do |item| %>
    <%= content_tag :li, item[:link], class: item[:active] ? 'active' : nil %>
  <% end %>
</ul>

<ul class="nav navbar-nav navbar-right">
  <% if app_menu(:top, :locale) %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <b class="caret"></b>
        <%= app_menu(:top, :locale)[0] %>
      </a>
      <ul class="dropdown-menu">
        <% app_menu(:top, :locale).from(1).each do |item| %>
          <%= content_tag :li, item[:link], class: item[:active] == false ? 'disabled' : nil %>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% app_menu(:top, :right).each do |item| %>
    <%= content_tag :li, item %>
  <% end %>
</ul>
