<%
  main_menu = sub_menu = false

  if @course && !@course.new_record?
    main_menu = render "/teach/courses/main_menu"
    sub_menu = render "/teach/courses/course_menu"
  elsif @klass && enrolled_or_staff?
    main_menu = render "/learn/klasses/main_menu"
    sub_menu = render "/learn/klasses/klass_menu"
  else 
    main_menu = render "/main_menu", front: false
    if controller_name.in?(['sessions', 'registrations']) && action_name.in?(['new', 'create'])
      sub_menu = yield(:sign_in_or_up_menu)
    end
  end
%>

<nav><%= main_menu %></nav>

<% if sub_menu %>
<div class="ui grid container">
  <div class="sixteen wide column">
    <%= sub_menu %>
  </div>
</div>
<% else %>
  <br>
<% end %>

<main class="ui centered grid">
  <div class="fifteen wide column">
    <div class="ui fluid segment">
      <%= yield %>
    </div>
  </div>
</main>
<br>
