<div class="ui inverted vertical jumbotron segment">
  <%= render "/main_menu", front: true %>
  <%= yield :jumbotron %>
</div>

<div class="ui <%= 'text ' if action_name == 'blogs' %>container">
  <div class="ui basic segment">
    <div class="ui left rail"></div>
    <div class="ui right rail"></div>
    
  	<%= yield %>
  </div>
</div>
